.button-link {
  @include fonts($linkFontSize, 18px, 600);
  @include flex(center);
  box-sizing: border-box;
  text-decoration: none;
  padding: 16px 10px;
  color: $btnColor;
  background: $btnBackgroundColor;
  border-radius: 4px;
  width: 180px;
  letter-spacing: 1px;
  cursor: url(./images/cursor.svg), auto;
  position: relative;
  z-index: 1;
  height: 50px;

  @media (max-width: $mobile) {
    width: 100%;
  }

  &::before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 50px;
    background: $btnHoverBgColor;
    border-radius: 4px;
    transition: width 1s ease;
    z-index: -1;
  }

  &:hover::before {
    width: 100%;
  }
}
