@mixin flex($justify: unset, $align: unset) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin fonts($size, $height, $weight) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
}
