@mixin flex($justify: unset, $align: unset, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin fonts($size, $height, $weight) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
}
