$baseSize: 1440px;

// Colors
$base-background: #f4f4f4;
$base-fontColor: #151515;
$paragraph-fontColor: #222;

// Fonts
$baseFont: 'Inter';

// Font-size
$title-fontSize: 55px;
$paragraph-fontSize: 18px;
$menu-fontSize: 14px;
