$baseSize: 1440px;

// Colors
$base-background: #f4f4f4;
$base-fontColor: #151515;
$paragraph-fontColor: #222;
$btnColor: #fff;
$btnBackgroundColor: #24b47e;
$btnHoverBgColor: #319e75;
$lineColor: #d7d4d4;
$footerBackgroundColor: #efefef;
$copyright-fontColor: #cfcfcf;
$arrowBtnColor: #ebebeb;
$borderSection: #e3e3e3;

// Fonts
$baseFont: 'Inter';

// Font-size
$title-fontSize: 55px;
$quoteFontSize: 34px;
$formHeadingFontSize: 24px;
$quote-nameFontSize: 20px;
$paragraph-fontSize: 18px;
$quote-titleFontSize: 16px;
$linkFontSize: 14px;
$inputFontSize: 13px;

// screen
$bigScreen: 1200px;
$notebooks: 1024px;
$smallNotebooks: 868px;
$tablets: 712px;
$smallTablets: 512px;
$mobile: 320px;
