.routes__image-wrapper {
  display: flex;
  max-width: 610px;
  margin: 20px 0 0 40px;
  justify-self: end;
  grid-row: 1/5;
  grid-column: 2/3;

  @media (max-width: $smallTablets) {
    grid-row: 2/3;
    grid-column: 1/2;
    margin-top: 0;
    max-height: 400px;
    height: 100%;
  }

  @media (max-width: $mobile) {
    max-height: 348px;
    margin-left: 30px;
  }
}
