.bikes__link_type_active {
  @include fonts($paragraph-fontSize, 28px, 600);
  opacity: 1;
  text-decoration: none;
  color: $base-fontColor;
  cursor: url(./images/cursor.svg), auto;
  transition: opacity .3s ease;

  &:hover {
    opacity: .75;
  }
}
