.training-apps__list {
  @include flex();
  margin: 20px 0 0;
  padding: 0;
  list-style-type: none;
  align-self: end;

  @media (max-width: $smallTablets) {
    grid-row: 4/5;
    grid-column: 1/2;
    margin-bottom: 30px;
  }
}
