.hamburger__line {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #151515;
  transition-duration: .3s;

  &::before {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #151515;
    transition-duration: .3s;
    content: '';
    top: -8px;
  }

  &::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #151515;
    transition-duration: .3s;
    content: '';
    top: 8px;
  }
}

.hamburger__toggle:checked ~ .hamburger__button > .hamburger__line {
  transform: rotate(45deg);
}
.hamburger__toggle:checked ~ .hamburger__button > .hamburger__line::before {
  top: 0;
  transform: rotate(0);
}
.hamburger__toggle:checked ~ .hamburger__button > .hamburger__line::after {
  top: 0;
  transform: rotate(90deg);
}
