.training {
  @include flex(space-between);
  padding: 150px 120px 120px 0;

  @media (max-width: $bigScreen) {
    padding-right: 60px;
  }

  @media (max-width: $smallNotebooks) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
