.footer {
  padding: 80px 120px 60px;
  background-color: $footerBackgroundColor;

  @media (max-width: $bigScreen) {
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (max-width: $smallNotebooks) {
    padding-top: 60px;
    padding-bottom: 40px;
  }

  @media (max-width: $tablets) {
    padding: 30px;
  }
}
