.slider__arrow_type_right::before {
  content: '';
  background: url(../images/arrow-buttons/arrow-right.svg) no-repeat;
  width: 10px;
  height: 18px;
  background-size: contain;

  @media (max-width: $smallTablets) {
    width: 10px;
    height: 14px;
  }

  @media (max-width: $mobile) {
    width: 5px;
    height: 10px;
  }
}
