.position-wrapper {
  position: absolute;
  top: 348px;
  right: 25%;
  height: 430px;

  @media (max-width: $notebooks) {
    right: 15%;
  }

  @media (max-width: $smallNotebooks) {
    top: 300px;
    right: 10%;
  }

  @media (max-width: $tablets) {
    top: 200px;
  }
}
