.bikes__cards-link {
  @include fonts($paragraph-fontSize, 22px, 600);
  text-decoration: none;
  color: $base-fontColor;
  margin-top: 22px;
  cursor: url(./images/cursor.svg), auto;
  transition: opacity .3s ease;

  &:hover {
    opacity: .75;
  }

  @media (max-width: $tablets) {
    font-size: 14px;
    line-height: 18px;
  }
}
