.bikes__cards-link {
  @include fonts($paragraph-fontColor, 22px, 600);
  text-decoration: none;
  color: $base-fontColor;
  margin-top: 22px;
  cursor: url(./images/cursor.svg), auto;
  transition: opacity .3s ease;

  &:hover {
    opacity: .75;
  }
}
